design/1.svg
design/3572.ttf
design/color-swatches.zip
design/layout-desktop-whiteframe.ai
design/pixil-frame-0.png
design/product-icon-stickersheet.zip
design/schedule-template-master.zip
design/Source_Sans_Pro.zip
design/stickersheet-components.xd
design/system-icon-stickersheet.ai
design/undraw_book_reading_kx9s.svg
design/undraw_events_2p66.svg
design/undraw_Graduation_ktn0.svg
design/undraw_knowledge_g5gf.svg
design/undraw_mathematics_4otb.svg
design/undraw_professor_8lrt.svg
design/undraw_schedule_pnbk.svg
design/_final_template/Copy of Pixel расписание ннгу .xd
design/schedule-template-master/event-abs-circuit.html
design/schedule-template-master/event-restorative-yoga.html
design/schedule-template-master/event-rowing-workout.html
design/schedule-template-master/event-yoga-1.html
design/schedule-template-master/index.html
design/schedule-template-master/README.md
design/schedule-template-master/assets/css/style.css
design/schedule-template-master/assets/css/style.scss
design/schedule-template-master/assets/js/main.js
design/schedule-template-master/assets/js/util.js
