.Admin {
    font-family: 'Roboto', sans-serif;
}

.Admin a {
	color: black;
	border-bottom: 2px solid #3f51b5;
	text-decoration: none;
	margin-right: 5px;
}

.Admin a:visited{
	color: black;
	border-bottom: 2px solid #3f51b5;
	text-decoration: none;
}

.Admin a:hover{
	color: black;
	text-decoration: none;
	border-bottom: 2px solid #edf0ff;
	background: #edf0ff;
}

.admin-schedule .Schedule-wrapper {
	height: auto;
	margin: 2rem 0 2rem 0;
}

.Admin .selects {
	display: flex;
}

.Schedule-cell#active {
	background-color: cornflowerblue;
	cursor: pointer;
}