.Admin, .Login {
    font-family: 'Roboto', sans-serif;
}

.Admin a, .Login a {
	color: black;
	border-bottom: 2px solid #3f51b5;
	text-decoration: none;
	margin-right: 5px;
}

.Admin a:visited, .Login a:visited{
	color: black;
	border-bottom: 2px solid #3f51b5;
	text-decoration: none;
}

.Admin a:hover, .Login a:hover{
	color: black;
	text-decoration: none;
	border-bottom: 2px solid #edf0ff;
	background: #edf0ff;
}

.admin-schedule .Schedule-wrapper {
	height: auto;
}

.Admin .selects {
	display: flex;
	align-items: center;
}

.Admin .helptext {
	display: flex; 
	flex-direction:column; 
	justify-content: center;
}

.Schedule-cell#active {
	background-color: rgb(209, 216, 255);
	cursor: pointer;
}

.Admin .header {
	display: flex;
	justify-content: space-between;
}