.Schedule-wrapper{
	display: flex;
	height: 86vh;
	width: 98vw;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

.Schedule-row{
	display: flex;
	flex-basis: 14%;
	flex-direction: row;
	justify-content: center;
	max-height: 14%;
	border-bottom: 1px solid #EDEFEE;
}

.Schedule-cell{
	display: flex;
	flex-basis: 14%;
	border-left: 1px solid #EDEFEE;
	border-bottom: inherit;
	max-width: 14%;
	overflow-wrap: break-all;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14.5px;
	line-height: 21px;
	padding: 10px;
	overflow: auto;
	flex-direction: row;
}

.Schedule-cell span{
	margin-left:  5px;
}

.Schedule-cell#left{ 
	display: flex;
	flex-direction: column;
	border-left: hidden;
	justify-content: center;
}

.Schedule-row#bottom{
	border-bottom: hidden;
}

.Schedule-cell::-webkit-scrollbar-track
{
	background-color: rgb(255, 255, 255);
}

.Schedule-cell::-webkit-scrollbar
{
	width: 5px;
	background-color: rgb(255, 255, 255);
}

.Schedule-cell::-webkit-scrollbar-thumb
{   
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
}

.Schedule-cell-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 100%;
}

.Lesson-subject{
}

.Lesson-speaker{
	font-family: 'Roboto Slab', serif;
	font-size: 13.5px;
	margin-top: auto;
	text-align: right;
}

.Lesson-classroom{
	font-family: 'Roboto Slab', serif;
	font-size: 13.5px;
	text-align: right;
}

.Schedule-cell-weekday{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.Schedule-cell-weekday-today{
	display: flex;
	flex-direction: column;
	text-align: center;
}

.Schedule-cell-weekday .day{
	/* border: 1px solid grey; */
}

.Schedule-cell-weekday .wday{
	/* border: 1px solid steelblue; */
}

.Schedule-cell-weekday-today .day{

}

.Schedule-cell-weekday-today .wday{

}