.Schedule-wrapper{
	display: flex;
	height: 86vh;
	width: 98vw;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

.Schedule-row{
	display: flex;
	flex-basis: 14%;
	flex-direction: row;
	justify-content: center;
	max-height: 14%;
	border-bottom: 1px solid #EDEFEE;
}

.Schedule-cell{
	display: flex;
	flex-basis: 14%;
	border-left: 1px solid #EDEFEE;
	border-bottom: inherit;
	max-width: 14%;
	overflow-wrap: break-all;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14.5px;
	line-height: 21px;
	padding: 10px;
	overflow: auto;
	flex-direction: row;
}

.Schedule-cell span{
	margin-left:  5px;
}

.Schedule-cell#left{ 
	display: flex;
	flex-direction: column;
	border-left: hidden;
	justify-content: center;
	align-items: center;
	flex-basis: 150px;
}

.Schedule-row#6{
	border-bottom: hidden;
}

.Schedule-cell::-webkit-scrollbar-track
{
	background-color: rgb(255, 255, 255);
}

.Schedule-cell::-webkit-scrollbar
{
	width: 5px;
	background-color: rgb(255, 255, 255);
}

.Schedule-cell::-webkit-scrollbar-thumb
{   
    background-color: rgb(212, 212, 212);
    border-radius: 20px;
}

.Schedule-cell-content{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 100%;
}

.Lesson-speaker{
	font-family: 'Roboto Slab', serif;
	font-size: 13.5px;
	margin-top: auto;
	text-align: right;
}

.Lesson-classroom{
	font-family: 'Roboto Slab', serif;
	font-size: 13.5px;
	text-align: right;
}

.Schedule-cell-weekday{
	display: flex;
	flex-direction: column;
	text-align: center;
	place-items: center;
}

.Schedule-cell-weekday-today{
	display: flex;
	flex-direction: column;
	text-align: center;
	place-items: center;
}

.Schedule-cell-weekday .day{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	width: 46px;
	height: 46px;
	min-width: 46px;
	min-height: 46px;
	border-radius: 100%;
	display: flex;
	flex-direction: column;
	place-content: center;
}

.Schedule-cell-weekday .wday{
	font-weight: 500;
}

.Schedule-cell-weekday .wday_big{
	display: flex;
	flex-direction: column;
	place-content: center;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 400;
	width: 46px;
	height: 46px;
	margin-top: 21px;
	min-width: 46px;
	min-height: 46px;
	border-radius: 100%;
}

.Schedule-cell-weekday-today .day{
	display: flex;
	flex-direction: column;
	place-content: center;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	background: linear-gradient(to top left, #3f51b5, #3b4ba7);
	width: 46px;
	height: 46px;
	min-width: 46px;
	min-height: 46px;
	border-radius: 100%;
	color: white;
}

.day_text {
	padding-top: 2px;
}

.Schedule-cell-weekday-today .wday{
	font-weight: 500;
}

.Schedule-cell-weekday-today .wday_big{
	display: flex;
	margin-top: 21px;
	flex-direction: column;
	place-content: center;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 500;
	background: linear-gradient(to top left, #3f51b5, #3b4ba7);
	width: 46px;
	height: 46px;
	min-width: 46px;
	min-height: 46px;
	border-radius: 100%;
	color: white;
}

.wday_big_text{
	padding-bottom: 3px;
}