.Header{
	display: flex;
    height: 81px;
    align-content: center;
}

.Header .Hat{
    justify-content: center;
    flex-direction: column;
    display: flex;
    font: "Roboto";
    font-size: 40px;
    opacity: 76%;
    padding-bottom: 6px;
    margin-left: 20px;
}

.Header .Title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: "Roboto";
    padding-bottom: 4px;
    font-size: 23px;
    opacity: 92%;
    font-weight: 400;
    overflow: visible;
    white-space: nowrap;
}

.Header .Today-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.Header .Today-button button{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90px;
    height: 36px;
    background: white;
    border: 1px solid #A8ADA9;
    font-family: "Roboto";
    font-size: 14px;
    border-radius: 7px;
}

.Header .Today-button button:hover{
    background-color: #ecefff;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Header .Today-button button:focus{
    outline: 0;
}
.Header .Arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Header .Arrow button{
    background-color: white;
    border: 0;
    border-radius: 10px;
    font-family: "Consolas";
    font-size: 19px;
    font-weight: 550;
}
.Header .Arrow button:focus{
    outline: 0;
}

.Header .Arrow button:hover{
    cursor: pointer;
    background-color: #ecefff;
    transition-duration: 0.4s;
}

.Header .Months{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: "Roboto";
    padding-bottom: 4px;
    font-size: 23px;
    opacity: 92%;
    font-weight: 400;
    overflow: visible;
    white-space: nowrap;
    margin-left: 15px;
    margin-right: 15px;
}

.Header .Dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.Header .Dropdown button{
    white-space: nowrap;
    background-color: white;
    border: 0;
    border-bottom: 1px solid #A8ADA9;
    font-family: "Roboto";
    font-size: 14px;
    cursor: pointer;
}

.Header .Dropdown button:hover{

}

.Header .Dropdown button span{
    font-size: 9px;
    font-family: "Roboto";
}

/* @font-face{
    font-family: 'Pixel Cyr';
    src: local('Pixel Cyr'),
    url('/frontend/public/3572.ttf');
} */

.Header .Nngu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Pixel Cyr";
    font-size: 23px;
    opacity: 92%;
    margin-left: auto;
    margin-right: 20px;
}